<!-- /workspaces/thejokers69/_includes/footer.html -->
<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-content">
      <div class="social-links">
        <a
          href="https://github.com/thejokers69"
          target="_blank"
          aria-label="GitHub"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          href="www.linkedin.com/in/mohamed-lakssir-b6b4301a4"
          target="_blank"
          aria-label="LinkedIn"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:mohamed.lakssir@gmail.com" aria-label="Email">
          <i class="fas fa-envelope"></i>
        </a>
      </div>

      <div class="footer-extra">
        <a
          href="https://drive.google.com/file/d/178SSUX4DYWFuUmVl5LgS98bGfGxi-9c2/view?usp=sharing"
          target="_blank"
          >Download Résumé</a
        >
      </div>

      <p class="copyright">
        &copy; {{ site.title }} {{ site.time | date: "%Y" }}
      </p>

      <div class="tech-stack">
        <span>Powered by:</span>
        <div class="stack-icons">
          <i class="fab fa-docker" title="Docker"></i>
          <i class="fab fa-js-square" title="JavaScript"></i>
          <i class="fab fa-python" title="Python"></i>
        </div>
      </div>
      <div class="identity">
        <p>Mohamed Lakssir</p>
        <p class="digital-id">Digital identity: @TheJokers69</p>
      </div>
    </div>
  </div>
</footer>
