<!-- /Users/thejoker/Documents/GitHub/thejokers69/_includes/header.html -->
<header class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <span class="gradient-text">Mohamed Lakssir</span>
      <small class="username">@TheJokers69</small>
    </a>

    <nav class="site-nav">
      <div class="trigger">
        {% for item in site.data.navigation %}
          <a class="page-link hover-underline" href="{{ item.link }}" data-text="{{ item.name }}">
            {{ item.name }}
          </a>
        {% endfor %}
      </div>
    </nav>

    <button id="theme-toggle" class="theme-toggle" aria-label="Change theme">
      <i class="fas fa-sun"></i>
      <i class="fas fa-moon"></i>
    </button>
  </div>
</header>