<!-- /Users/thejoker/Documents/GitHub/thejokers69/_includes/header.html -->
<header class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <span class="gradient-text">{{ site.title }}</span>
    </a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger" aria-label="Mobile menu">
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </label>

      <div class="trigger">
        {% for item in site.data.navigation %}
          <a class="page-link hover-underline" href="{{ item.link }}" data-text="{{ item.name }}">
            {{ item.name }}
          </a>
        {% endfor %}
      </div>
    </nav>

    <button id="theme-toggle" class="theme-toggle" aria-label="Change theme">
      <span class="sun-moon"></span>
    </button>
  </div>
</header>