<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <section class="about-me">
          <h2>About Me</h2>
          <p>Connect with me on <a href="https://www.linkedin.com/in/mohamed-lakssir-b6b4301a4" target="_blank">LinkedIn</a>.</p>
        </section>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
